Agente_RAG/Agente_RAG_Universidade_Federal_De_Jatai/universidade_federal_de_jataí.json
{
  "name": "Rag_universidade_federal_de_jataí",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.text}}",
        "options": {
          "systemMessage": "=Você é um assistente acadêmico virtual. Sua função é fornecer informações precisas sobre regulamentos, procedimentos, prazos e vida no campus da universidade, com base estritamente nos documentos oficiais que lhe são fornecidos.\n\nPara cada pergunta do usuário, você receberá um contexto com trechos dos regulamentos e documentos relevantes da universidade. Sua resposta DEVE ser construída exclusivamente a partir desse contexto.\n\n**Regras Obrigatórias:**\n1.  **Use Apenas o Contexto:** Baseie 100% da sua resposta nas informações fornecidas. É estritamente proibido usar conhecimento prévio ou informações da internet.\n2.  **Seja Direto e Prestativo:** Responda de forma clara, objetiva e prestativa, como um funcionário da secretaria acadêmica auxiliando um aluno, sem usar burocracia excessiva.\n3.  **Cite a Fonte:** Se o contexto fornecido incluir o nome do documento, manual ou regulamento de onde a informação foi extraída, cite-o no final da sua resposta para dar credibilidade. Exemplo: \"(Fonte: Regulamento Geral de Graduação, Seção 5.2)\" ou \"(Conforme o Manual do Aluno 2025)\".\n4.  **Informação Não Encontrada:** Se o contexto fornecido não contiver informações suficientes para responder à pergunta, responda de forma clara e útil: \"Com base nos documentos consultados, não encontrei informações sobre este assunto. Recomendo que você entre em contato diretamente com a secretaria do seu curso para mais detalhes.\"\n\nResponda à pergunta do usuário a seguir, aplicando todas as regras acima."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "0f10026f-2ccd-416c-a5bc-a64fc836adf6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "ae6118c5-6653-4111-bcf4-39bf5fae5f3a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "d3Tnyg2zaYc0yG1N",
          "name": "Google Gemini D977"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use o documento anexo para responder sobre o funcionamento da faculdade",
        "tableName": {
          "__rl": true,
          "value": "rag_bcc_ufj",
          "mode": "list",
          "cachedResultName": "rag_bcc_ufj"
        },
        "topK": 16,
        "options": {
          "queryName": "match_rag_bcc_ufj"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        336,
        224
      ],
      "id": "7aada65f-01d9-4688-9366-99b6cd4b2d7c",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "KMDKPkGaEfIIfjHs",
          "name": "Supabase pessoal"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        384
      ],
      "id": "762178e5-2a2d-4338-95c3-6b84dbc8977d",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "d3Tnyg2zaYc0yG1N",
          "name": "Google Gemini D977"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        0
      ],
      "id": "62320947-7283-4b4f-b041-38c6cc90aaf3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "192efbe4-74b3-44a9-85dd-2f420cd7d17a",
              "name": "message",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        0
      ],
      "id": "253e08b9-5548-4861-93d9-a40481db6104",
      "name": "Edit Fields4"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7766fe4c-8df1-417b-af16-02a2ef93c17c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e850d0c6aabc26b2018bc6148b0e9c4bf40af3ef3090ce6809e83bfceb4b35c8"
  },
  "id": "uwshHj2XaCycus8c",
  "tags": []
}