Agente de RAG/Periodico_rag_tempo.json
{
  "name": "Periodico_rag_tempo",
  "nodes": [
    {
      "parameters": {
        "url": "=https://api.openweathermap.org/data/2.5/weather?q=Jataí,Go,ph&APPID=96cd30e06f5703fd622571142363ea50&units=metric&lang=pt_br",
        "options": {}
      },
      "id": "4ff4d9c2-2627-4173-9917-2e8fe8aca59e",
      "name": "Get Weather Data from OpenWeatherMap",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1424,
        64
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise os seguintes dados meteorológicos para a cidade de {{ $json.name }} e crie um relatório formatado, seguindo as regras da sua persona \"Syan\".\n\n**Dados Brutos:**\n- Condição: {{ $json.weather[0].description }}\n- Temperatura Atual: {{ $json.main.temp }}°C\n- Sensação Térmica: {{ $json.main.feels_like }}°C\n- Temperatura Máxima: {{ $json.main.temp_max }}°C\n- Umidade: {{ $json.main.humidity }}%\n- Velocidade do Vento: {{ $json.wind.speed }} m/s\n- Horário do Nascer do Sol (Unix): {{ $json.sys.sunrise }}\n- Horário do Pôr do Sol (Unix): {{ $json.sys.sunset }}\n\nAgora, gere o relatório completo no formato do \"Modelo 3\", como definido no seu System Message.",
        "options": {
          "systemMessage": "Persona e Identidade\nVocê é \"Syan\", seu assistente pessoal de meteorologia. Sua personalidade é amigável, clara e prestativa.\n\nMissão Principal\nSua missão é analisar os dados meteorológicos recebidos de uma API e, com base neles, criar um relatório completo e de fácil leitura sobre a previsão do tempo para um usuário chamado Diego. O objetivo é que ele saiba exatamente como será o dia.\n\nFonte dos Dados\nVocê receberá um objeto JSON contendo os dados brutos do tempo. Sua tarefa é extrair, formatar e apresentar as informações mais importantes, como:\n\nDescrição do céu (ex: \"céu limpo\")\n\nTemperatura atual e máxima\n\nUmidade do ar\n\nVelocidade do vento\n\nHorários do nascer e pôr do sol\n\nRegras de Formatação e Tom (Modelo 3)\nTítulo: Comece sempre com um título chamativo usando emojis. Ex: ☀️ *Bom dia! Previsão do tempo para [Nome da Cidade]* ☀️\n\nClareza e Objetividade: Apresente a condição principal do tempo logo no início.\n\nUso de Emojis: Utilize emojis temáticos para cada informação, tornando o relatório visual e dinâmico.\n\nTemperatura: 🌡️\n\nUmidade: 💧\n\nVento: 💨\n\nNascer/Pôr do sol: 🌅\n\nEstrutura Detalhada: Organize a mensagem em tópicos claros (Temperatura, Umidade, Vento, etc.), usando negrito (*texto*) para destacar os títulos de cada tópico.\n\nEncerramento: Termine a mensagem com uma despedida positiva, como \"Aproveite o seu dia!\".\n\nExemplo de Saída (Baseado no Modelo 3)\n☀️ Bom dia! Previsão do tempo para Jataí ☀️\n\nHoje o dia será de céu limpo e muito sol!\n\n🌡️ Temperatura: A temperatura atual é de 20°C. A máxima prevista para hoje é de 20°C.\n\n💧 Umidade: O ar está relativamente seco, com umidade de 41%.\n\n💨 Vento: Uma brisa leve de 14 km/h.\n\n🌅 O sol nasce às 06:30 e se põe às 18:08.\n\nAproveite o seu dia!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1696,
        64
      ],
      "id": "08dc6df0-72b7-4fc4-873a-ed964e799eaf",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1792,
        256
      ],
      "id": "9a834244-bb6d-4f44-87ac-74421ff13395",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "7cVvQtTUhKtlt9LH",
          "name": "Google Gemini D97S"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gera a mensagem de previsão do tempo",
        "height": 480,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        -80
      ],
      "typeVersion": 1,
      "id": "ead09835-647e-48a8-b2cd-bf8d4ee65ea6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://waha-diego:3000/api/sendText",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=chatId",
              "value": "=556493174450@c.us"
            },
            {
              "name": "=text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "session",
              "value": "=default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        -16
      ],
      "id": "4b802547-d551-435e-bb79-be2d86914393",
      "name": "Send to Whatsapp WAHA"
    },
    {
      "parameters": {
        "chatId": "7006144067",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2224,
        240
      ],
      "id": "217e8a6e-ef1d-43c0-97f5-c342eceb2d78",
      "name": "Send to Telegram",
      "webhookId": "86fc6043-43c9-43d8-a75d-c4ece4111b72",
      "credentials": {
        "telegramApi": {
          "id": "ckBftXPqYhF7h8hj",
          "name": "Telegram Assistente Borges"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1184,
        64
      ],
      "id": "09e33109-0289-40b8-b105-485121dfb2f6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Coleta informações do tempo para Jataí GO",
        "height": 480,
        "width": 256,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        -80
      ],
      "id": "c1e38e8e-e27f-4b43-a488-0409b48e7972",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Manda para o Whatsapp",
        "height": 240,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2128,
        -80
      ],
      "id": "505abed7-4054-4685-900b-8a850549641b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Manda para o Telegram",
        "height": 224,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2128,
        176
      ],
      "id": "fb62774d-3bac-4844-958f-255307617053",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Whatsapp WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather Data from OpenWeatherMap": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Weather Data from OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7df13172-9a88-419d-ba6e-928e874da381",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e850d0c6aabc26b2018bc6148b0e9c4bf40af3ef3090ce6809e83bfceb4b35c8"
  },
  "id": "4efA1mPT1Qeo1oDS",
  "tags": []
}