Others_Agent/Warning_error.json
{
  "name": "Warning_error",
  "nodes": [
    {
      "parameters": {
        "chatId": "=7006144067",
        "text": "=Error in {{ $json.workflow.name }}: {{ $json.execution.error.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -592,
        1472
      ],
      "id": "c64271f2-ed89-47d1-be50-d9ae42187e99",
      "name": "Send a text message",
      "webhookId": "0e07ca4a-8ec3-4c0b-a42e-4616f513acaa",
      "credentials": {
        "telegramApi": {
          "id": "ckBftXPqYhF7h8hj",
          "name": "Telegram Assistente Borges"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        1536
      ],
      "id": "148ba139-5455-46c7-b9d1-697c4f4279c8",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://whatsapp-gerencia.dsbdocker.shop/message/sendText/whatsapp-diego",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "F7F37AF3F173-4309-9ED5-C8384E69CE8D"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"number\": \"556493174450@s.whatsapp.net\",\n    \"text\":  {{ JSON.stringify(\"Error: \"+ $json.workflow.name +\": \"+ $json.execution.error.message) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -592,
        1632
      ],
      "id": "a397a964-640e-45ac-bcbb-0c376cc7d178",
      "name": "Send_text2"
    }
  ],
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "1919",
            "url": "https://n8n-diego.dsbdocker.shop/workflow/YMULQStclH6yXvyT/executions/1919",
            "error": {
              "level": "warning",
              "tags": {},
              "timestamp": 1756824885970,
              "context": {},
              "functionality": "regular",
              "name": "NodeOperationError",
              "node": {
                "parameters": {
                  "aiAgentStarterCallout": "",
                  "preBuiltAgentsCallout": "",
                  "promptType": "define",
                  "text": "={{ $json.body.entry[0].messaging[0].message.text }}",
                  "hasOutputParser": false,
                  "needsFallback": false,
                  "options": {
                    "systemMessage": "=Documento de consulta: dsb_solution\nHorário de agora: {{ $now }}\n\nVocê é Syan, um agente especialista em automação da DSB Solution, focado em criar soluções com n8n para otimizar processos de negócios.\nSeu papel é atender, qualificar e converter leads no Instagram e WhatsApp, respondendo de forma educada, clara, extremamente curta e profissional.\nSempre se apresente como Syan e mantenha um tom consultivo e amigável.\nUse emojis de forma leve (🤖 ⚙️ ✅) quando fizer sentido.\n\nRegras de Formatação e Estilo (NOVO)\nSEJA EXTREMAMENTE CONCISO: Suas respostas DEVEM ser curtas e fáceis de ler na tela de um celular. PREFIRA frases curtas e diretas.\n\n1.  **A REGRA MAIS IMPORTANTE: UMA IDEIA POR MENSAGEM.** SE a informação do documento tiver vários pontos (como uma lista de benefícios), você **NÃO DEVE** criar uma lista em uma única mensagem. Em vez disso, **ENVIE CADA PONTO EM MENSAGENS SEPARADAS E CURTAS**, criando um diálogo.\n\n2.  **MANTENHA CADA MENSAGEM INDIVIDUAL ABAIXO DE 400 CARACTERES.** Isso garante uma leitura fácil e evita erros técnicos.\n\n3.  **EXEMPLO PRÁTICO DE COMO DIVIDIR MENSAGENS:**\n\n**FAÇA ISSO (FORMATO CORRETO ✅):\n        `Claro! Nossas automações trazem várias vantagens para o seu perfil. 🤖`\n        *(envia a primeira mensagem)*\n        `A principal é o nosso **Agente de Atendimento Inteligente**, que responde clientes e qualifica leads para você, 24 horas por dia.`\n        *(envia a segunda mensagem)*\n        `Também garantimos uma **Comunicação Mais Limpa e Segura**, com filtros automáticos de spam e assédio para que você foque no que importa. 🛡️`\n        *(envia a terceira mensagem)*\n        `E o melhor: cuidamos de todo o **Setup e Suporte Contínuo** para você. Quer agendar uma consultoria para ver isso na prática?`\n        *(envia a quarta mensagem)*\n\n** NÃO FAÇA ISSO (FORMATO ERRADO ❌):\n        `Olá! Com nossas soluções, você garante: **Agente de Atendimento Inteligente:** Responde perguntas... **Comunicação Mais Limpa:** Nossos filtros... **Setup e Implementação:** Nós cuidamos... **Manutenção e Suporte:** Garantimos que...`\n\nRegras de Conteúdo e Atendimento\nFonte da Verdade: Para CADA pergunta sobre os serviços (preços, exemplos de automação, filtros de spam, benefícios, etc.), consulte SEMPRE a tool dsb_solution para obter as informações oficiais e responda com base nesse conteúdo.\n\nEscopo de Atuação: Seu foco é vender e dar suporte a automações. Se perguntarem algo fora deste escopo, redirecione educadamente a conversa para como a automação pode ajudar o negócio da pessoa.\n\nClarificação: Se a dúvida não estiver clara, faça uma pergunta simples para entender a necessidade do cliente. Ex: \"Para qual processo você busca uma automação?\" ou \"Qual tarefa repetitiva você gostaria de eliminar?\".\n\nEscalonamento Humano: Caso não saiba responder mesmo após consultar o documento, ou se o cliente pedir explicitamente para falar com um humano, direcione-o para o especialista Diego Sousa pelo WhatsApp (64) 993174450.\n\nProatividade: Seja direto e prático. Seu objetivo é resolver a dúvida e incentivar o próximo passo, que é agendar uma consultoria.\n\n(As seções \"Oferecer Consultoria Gratuita\", \"Uso das Tools de Calendário\" e \"Exemplos de Resposta\" permanecem as mesmas, pois já são excelentes.)"
                  }
                },
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 2.2,
                "position": [
                  -864,
                  160
                ],
                "id": "3200c749-fb23-469c-8e11-8b21d239c89f",
                "name": "AI Agent",
                "retryOnFail": true,
                "waitBetweenTries": 5000
              },
              "messages": [],
              "message": "A Chat Model sub-node must be connected and enabled",
              "stack": "NodeOperationError: A Chat Model sub-node must be connected and enabled\n    at validateInputConfiguration (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_0c275070fd0434c00ffd62213b2bcae4/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts:169:11)\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_0c275070fd0434c00ffd62213b2bcae4/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts:209:2)\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_0c275070fd0434c00ffd62213b2bcae4/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:203:39)\n    at getChatModel (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_944c224e2f203516e58b6afc03783333/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/common.ts:269:36)\n    at ExecuteContext.toolsAgentExecute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_944c224e2f203516e58b6afc03783333/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V2/execute.ts:193:22)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_944c224e2f203516e58b6afc03783333/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/V2/AgentV2.node.ts:131:10)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_0c275070fd0434c00ffd62213b2bcae4/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1212:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_0c275070fd0434c00ffd62213b2bcae4/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1582:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_0c275070fd0434c00ffd62213b2bcae4/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2158:11"
            },
            "lastNodeExecuted": "AI Agent",
            "mode": "webhook"
          },
          "workflow": {
            "id": "YMULQStclH6yXvyT",
            "name": "instagram Agent"
          },
          "name": "instagram Agent"
        }
      }
    ]
  },
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send_text2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7a5f2a86-f824-4b28-ba15-b71e3b422b98",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e850d0c6aabc26b2018bc6148b0e9c4bf40af3ef3090ce6809e83bfceb4b35c8"
  },
  "id": "pg8ALIIg5c67G45X",
  "tags": []
}