Monitoramento financeiro/Monitoramento_financeiro_Whatsapp.json
{
  "name": "Monitoramento_financeiro_Whatsapp",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fbf00aac-8a27-464e-a153-2fac629246d9",
              "leftValue": "={{ $json.body.payload._data.id.remote }}",
              "rightValue": "=556493174450@c.us",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        0
      ],
      "id": "83df5e41-9a77-4f21-9ec5-b3bdacbec238",
      "name": "If"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2579c46d-780a-4d3c-87e8-f54f9de43cf8",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "cdf5e734-7bf2-49d8-b783-f4b1402c1d51",
      "name": "Webhook",
      "webhookId": "2579c46d-780a-4d3c-87e8-f54f9de43cf8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i8XaUBkcQj4fOkP6",
          "mode": "list",
          "cachedResultName": "Agente_de_IA_para_monitoramento_financeiro"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1296,
        -192
      ],
      "id": "c147d3bd-1a02-47a3-b5d8-0eff390fb0e2",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "inputText": "=Responda apenas com a palavra:\"registro\", \"consulta\" ou \"Deletar\"\n\nMensagem:\n{{ $json.body.payload.body }}\n\nVocê vai receber uma mensagem de um usuário.\n\nClassifica a intenção da mensagem com base nas opções abaixo:\n- \"Registro\": Se o usuário estiver informando uma nova despesa.\n- \"Consulta\": Se Estiver pedindo para ver , consultar ou buscar informações financeiras anteriores.\n- \"Exclusão\": Se o usuário estiver pedindo para deletar, remover, apagar ou excluir um registro ou uma informação específica.",
        "categories": {
          "categories": [
            {
              "category": "registro de contas",
              "description": "Se o usuário estiver informando uma nova despesa"
            },
            {
              "category": "consulta de contas",
              "description": "Se o usuário estiver pedindo para consultar, saber ou buscar informações sobre despesas passadas."
            },
            {
              "category": "Deletar contas",
              "description": "Se o usuário estiver pedindo para deletar uma informação sobre despesas passadas."
            },
            {
              "category": "Nada",
              "description": "Se o texto do usuário não tiver relação com livros, autores e/ou categoria de livros. Por exemplo está falando de contas."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        560,
        -48
      ],
      "id": "22caba2f-0f8c-4a6b-9bbc-07a15b7476e4",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        208
      ],
      "id": "961c75d2-92eb-4339-9e1a-58e1a5d8e565",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "d3Tnyg2zaYc0yG1N",
          "name": "Google Gemini D977"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i8XaUBkcQj4fOkP6",
          "mode": "list",
          "cachedResultName": "Agente_de_IA_para_monitoramento_financeiro"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1296,
        -48
      ],
      "id": "609b97cb-6493-4b32-ad87-015ed52244d2",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://waha-diego:3000/api/sendText",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=chatId",
              "value": "={{ $('Webhook').item.json.body.payload.from }}"
            },
            {
              "name": "=text",
              "value": "={{ $json.message }}"
            },
            {
              "name": "session",
              "value": "=default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        -48
      ],
      "id": "72da6480-b27a-4e45-ae43-4917cf6c750d",
      "name": "To keep contact insert1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c1ec186-1c63-40b8-b7c7-89571f4c41d4",
              "name": "message",
              "value": "={{ $json.alert }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        -48
      ],
      "id": "6402e4bd-50be-496f-af48-dcf407fa570c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i8XaUBkcQj4fOkP6",
          "mode": "list",
          "cachedResultName": "Agente_de_IA_para_monitoramento_financeiro Whatsapp"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1296,
        112
      ],
      "id": "933a95e9-9bfb-4a0f-a702-ccc58cf3cbf5",
      "name": "Execute Workflow2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27e725c5-fa30-41cd-8cc0-7a607f8c7738",
              "name": "classification",
              "value": "={{\"inserir\"}}",
              "type": "string"
            },
            {
              "id": "192efbe4-74b3-44a9-85dd-2f420cd7d17a",
              "name": "text",
              "value": "={{ $('If').item.json.body.payload.body }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -192
      ],
      "id": "ac9c6534-7382-4dfb-abcf-f1033d112565",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47fd78cf-92e7-4fc2-b145-30411ddc1c9b",
              "name": "classification",
              "value": "={{\"consultar\"}}",
              "type": "string"
            },
            {
              "id": "c49ed87a-0031-4388-8d13-9f9dbb4ad8a1",
              "name": "text",
              "value": "={{ $('If').item.json.body.payload.body }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -48
      ],
      "id": "539eb660-6325-46ed-ab99-359b6484b561",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15648c59-2a1f-4834-85bc-e6c37ebfe0db",
              "name": "classification",
              "value": "={{\"deletar\"}}",
              "type": "string"
            },
            {
              "id": "47f0f2dd-f750-4be4-82cb-d798cbf83a02",
              "name": "text",
              "value": "={{ $('If').item.json.body.payload.body }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        112
      ],
      "id": "1ecee2e5-b5d9-451f-8495-bdb783317952",
      "name": "Edit Fields6"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "To keep contact insert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d486cfd-6fe1-42b5-bc06-3463f5cc4b0c",
  "meta": {
    "instanceId": "e850d0c6aabc26b2018bc6148b0e9c4bf40af3ef3090ce6809e83bfceb4b35c8"
  },
  "id": "R87OScEP4eSNyNdy",
  "tags": []
}