Monitoramento financeiro/Monitoramento_financeiro_Telegram.json
{
  "name": "Monitoramento_financeiro_Telegram",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i8XaUBkcQj4fOkP6",
          "mode": "list",
          "cachedResultName": "Agente_de_IA_para_monitoramento_financeiro"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1312,
        1392
      ],
      "id": "3213fb54-eb53-4265-a065-3e891ba9d071",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i8XaUBkcQj4fOkP6",
          "mode": "list",
          "cachedResultName": "Agente_de_IA_para_monitoramento_financeiro"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1312,
        1536
      ],
      "id": "c5129a5f-90fe-4030-94e2-50dfac07dcfd",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c1ec186-1c63-40b8-b7c7-89571f4c41d4",
              "name": "message",
              "value": "={{ $json.alert }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        1536
      ],
      "id": "6122a154-90ac-4f4e-a07a-36c7948bfc37",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i8XaUBkcQj4fOkP6",
          "mode": "list",
          "cachedResultName": "Agente_de_IA_para_monitoramento_financeiro Whatsapp"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1312,
        1696
      ],
      "id": "2e77c8ee-32d9-46c8-a3c2-7562a7d422fc",
      "name": "Execute Workflow2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2016,
        1776
      ],
      "id": "62e0cf85-8e5d-4f10-ab41-6cec00b64c65",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "d3Tnyg2zaYc0yG1N",
          "name": "Google Gemini D977"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -688,
        1536
      ],
      "id": "1f8ebe28-1df7-4fd8-995b-b15b55c2e4e7",
      "name": "Send a text message",
      "webhookId": "86fc6043-43c9-43d8-a75d-c4ece4111b72",
      "credentials": {
        "telegramApi": {
          "id": "gg6bq1yxahRh4RWq",
          "name": "BOT_Financeiro"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fbf00aac-8a27-464e-a153-2fac629246d9",
              "leftValue": "={{ $json.message.from.id }}",
              "rightValue": 7006144067,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2256,
        1584
      ],
      "id": "1de97d06-0ad6-4c8e-ab8d-3fbc7d79abbe",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47fd78cf-92e7-4fc2-b145-30411ddc1c9b",
              "name": "classification",
              "value": "={{\"consultar\"}}",
              "type": "string"
            },
            {
              "id": "d1004764-689b-49ce-b843-f7f37d18c0bc",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        1536
      ],
      "id": "29a54679-7afe-4288-87b5-84a3ee39e7a0",
      "name": "Chamar_consultar"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27e725c5-fa30-41cd-8cc0-7a607f8c7738",
              "name": "classification",
              "value": "={{\"inserir\"}}",
              "type": "string"
            },
            {
              "id": "3eaf7eee-2c87-4c7a-97e7-9e402fcb32b8",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        1392
      ],
      "id": "f116652d-c620-46de-ac5e-7c04f4340874",
      "name": "Chamar_inserir"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15648c59-2a1f-4834-85bc-e6c37ebfe0db",
              "name": "classification",
              "value": "={{\"deletar\"}}",
              "type": "string"
            },
            {
              "id": "1f7cc375-cc7d-454a-8fb0-ea5b6b0aad28",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1504,
        1696
      ],
      "id": "21bf2e31-65bc-4cf3-a107-45d702f333e6",
      "name": "Chamar_deletar"
    },
    {
      "parameters": {
        "inputText": "=Responda apenas com a palavra:\"registro\", \"consulta\" ou \"Deletar\"\n\nMensagem:\n{{ $json.message.text }}\n\nVocê vai receber uma mensagem de um usuário.\n\nClassifica a intenção da mensagem com base nas opções abaixo:\n- \"Registro\": Se o usuário estiver informando uma nova despesa.\n- \"Consulta\": Se Estiver pedindo para ver , consultar ou buscar informações financeiras anteriores.\n- \"Exclusão\": Se o usuário estiver pedindo para deletar, remover, apagar ou excluir um registro ou uma informação específica.",
        "categories": {
          "categories": [
            {
              "category": "registro de contas",
              "description": "Se o usuário estiver informando uma nova despesa"
            },
            {
              "category": "consulta de contas",
              "description": "Se o usuário estiver pedindo para consultar, saber ou buscar informações sobre despesas passadas."
            },
            {
              "category": "Deletar contas",
              "description": "Se o usuário estiver pedindo para deletar uma informação sobre despesas passadas."
            },
            {
              "category": "Nada",
              "description": "Se o texto do usuário não tiver relação com livros, autores e/ou categoria de livros. Por exemplo está falando de contas."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -2016,
        1536
      ],
      "id": "1f803672-7274-4455-99b7-7660e7fc5def",
      "name": "Classificação de operação"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2448,
        1584
      ],
      "id": "2e70de54-b269-4e6b-8409-b7d1222cfcc0",
      "name": "Telegram Trigger",
      "webhookId": "994adfdc-8cdd-4f31-a8ca-92c94fdf1c8d",
      "credentials": {
        "telegramApi": {
          "id": "gg6bq1yxahRh4RWq",
          "name": "BOT_Financeiro"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classificação de operação",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Classificação de operação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar_consultar": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar_inserir": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar_deletar": {
      "main": [
        [
          {
            "node": "Execute Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificação de operação": {
      "main": [
        [
          {
            "node": "Chamar_inserir",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chamar_consultar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chamar_deletar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "59992991-8a4c-41c3-8fe4-4b86afa6fecb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e850d0c6aabc26b2018bc6148b0e9c4bf40af3ef3090ce6809e83bfceb4b35c8"
  },
  "id": "OoCCleB7D2LYbOBw",
  "tags": []
}