ETL_Agent/Email-classifier/Classificador_de_email_pessoal_google_agenda.json
{
  "name": "Classificador_de_email_pessoal_principal",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            },
            {}
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1648,
        1328
      ],
      "id": "735bf193-8d3a-4b0e-87cb-c7a26d91f715",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1424,
        1552
      ],
      "id": "1f66e289-ddf6-4082-af41-55e140ceb2e9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "d3Tnyg2zaYc0yG1N",
          "name": "Google Gemini D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_4614296012528125380"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1024,
        464
      ],
      "id": "a31fabc1-bdf0-4df7-bc39-4df4f25af800",
      "name": "Add label to message",
      "webhookId": "80a0fadc-5ce1-4842-b216-99b1e2766590",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_347620088231253684"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1024,
        1152
      ],
      "id": "14110072-e7de-4c4a-b7a1-488035813b31",
      "name": "Add label to message1",
      "webhookId": "80a0fadc-5ce1-4842-b216-99b1e2766590",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_4003378466229826748"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1024,
        1456
      ],
      "id": "4086b50d-b04f-48b2-bb22-5fe0c7922c6b",
      "name": "Add label to message2",
      "webhookId": "80a0fadc-5ce1-4842-b216-99b1e2766590",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_2"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1024,
        1648
      ],
      "id": "ae295fb7-c465-4b79-a7e6-412bb70bc1f8",
      "name": "Add label to message3",
      "webhookId": "80a0fadc-5ce1-4842-b216-99b1e2766590",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -704,
        1648
      ],
      "id": "c80a10e3-6641-46de-ad3d-bc14dab52f35",
      "name": "Mark a message as read",
      "webhookId": "9bcdefbf-20c0-4c8c-a1ca-c5a46370ea34",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -304,
        1296
      ],
      "id": "5d4d5d0c-1f36-44ab-9177-91b79c4fbe4f",
      "name": "Mark a message as read1",
      "webhookId": "9bcdefbf-20c0-4c8c-a1ca-c5a46370ea34",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -768,
        1216
      ],
      "id": "e2a281f4-f805-4284-b466-05e3de6cbdf1",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "d3Tnyg2zaYc0yG1N",
          "name": "Google Gemini D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -704,
        1456
      ],
      "id": "99886dd9-16c1-4ce3-963e-9a497248bac7",
      "name": "Mark a message as read2",
      "webhookId": "9bcdefbf-20c0-4c8c-a1ca-c5a46370ea34",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -800,
        656
      ],
      "id": "b9feaa67-8c0a-4b7c-bc4a-563d14b0e4c0",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "d3Tnyg2zaYc0yG1N",
          "name": "Google Gemini D977"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Título: {{ $json.headers.subject }}\n\nTexto: {{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Estudos",
              "description": "E-mails relacionados ao ciclo de vida do aluno em cursos, eventos e workshops. Incluem confirmação de inscrição, boas-vindas, avisos e links de acesso para aulas, instruções sobre processos seletivos e informações sobre certificados.\n\nPalavras-chave que ajudam na classificação: aula, curso, inscrição, certificado, link, aluno, participante, plataforma, Zoom, agendamento, módulo, projeto, documentação, seleção, horário"
            },
            {
              "category": "Finanças",
              "description": "E-mails sobre transações financeiras e movimentações de conta. Incluem confirmações de pagamento, avisos de transferência, recibos de compra, cupons fiscais e lembretes de faturas em aberto ou cobranças.  \n\nPalavras-chave que ajudam na classificação: fatura, pagamento, transferência, compra, doação, pix, boleto, valor, R$, vencimento, cobrança, cupom, recibo, nota fiscal, confirmado"
            },
            {
              "category": "Itens salvos",
              "description": "E-mails usados como arquivo ou backup pessoal, enviados pelo próprio usuário (Diego Sousa, Diego Borges) ou por familiares (Cidasousals, Maisa Faria, nascimento123). Caracterizam-se por ter pouco ou nenhum texto e um título simples como \"Salvar\", com o foco principal no arquivo anexado.  \nPalavras-chave que ajudam na classificação: Salvar, anexo, documento, arquivo, pdf, comprovante, foto, imagem, cópia, scan, Fwd, Enc, certificado"
            },
            {
              "category": "Arquivo morto",
              "description": "E-mails automáticos de empresas, serviços e aplicativos. Incluem newsletters, promoções, pesquisas de satisfação, códigos de verificação de uso único, lembretes de apps, ofertas e comunicados gerais como atualizações de termos de uso ou editais, demais e-mails de confirmação de login. \nPalavras-chave que ajudam na classificação: newsletter, promoção, oferta, bônus, desconto, pesquisa, código, verificação, lembrete, edital, comunicado, termos de uso, assine, aproveite, não perca, cancelar inscrição, confirme seu dispositivo."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -1424,
        1296
      ],
      "id": "4fdb85d4-b8ff-46a7-86cb-7b46a618620e",
      "name": "Classificador principal"
    },
    {
      "parameters": {
        "inputText": "=Título: {{ $('Gmail Trigger').item.json.headers.subject }}\n\nTexto: {{ $('Gmail Trigger').item.json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Pagamento Futuro",
              "description": "E-mails que representam uma obrigação financeira futura, como contas, faturas ou boletos que precisam ser pagos. A característica principal é a presença de uma data de vencimento futura e um valor a ser pago, diferenciando-se de recibos ou confirmações de pagamentos já realizados.\n\nPalavras-chave que ajudam na classificação: vencimento, fatura, sua conta, boleto, vence em, a pagar, código de barras, pague com, valor a pagar, disponível para pagamento."
            },
            {
              "category": "Comprovantes e Pagamentos Realizados",
              "description": " E-mails que servem como um registro ou prova de uma transação financeira que já foi concluída. Incluem confirmações de pagamentos efetuados, recibos de compra, notas fiscais eletrônicas (NFC-e) e avisos de depósitos recebidos ou confirmação de cashback. \n\nA principal característica é que eles documentam uma ação passada e servem como comprovante.  Palavras-chave que ajudam na classificação: pagamento confirmado, recebeu seu pagamento, compra aprovada, recibo, cupom, nota fiscal, NFC-e, você depositou, comprovante, transação realizada, pagamento efetuado, cashback."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -800,
        1056
      ],
      "id": "41a98330-b759-427e-a881-c98e06ad6d1e",
      "name": "Classificador de finanças"
    },
    {
      "parameters": {
        "inputText": "=Título: {{ $('Gmail Trigger').item.json.headers.subject }}\nTexto: {{ $('Gmail Trigger').item.json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Futuro",
              "description": "E-mails que funcionam como lembretes para eventos com data e hora marcadas, como aulas ao vivo, lives, webinars ou workshops. São caracterizados pela urgência e por conterem um link de acesso para participação imediata ou em um futuro muito próximo (mesmo dia ou dia seguinte).\n\nPalavras-chave que ajudam na classificação: hoje, amanhã, agora, ao vivo, daqui a pouco, às, live, webinar, link de acesso, Zoom, participe, não perca, lembrete, é hoje, começa em, estamos ao vivo."
            },
            {
              "category": "Entrega e Disponibilidade de Certificados",
              "description": "E-mails enviados após a conclusão de um curso ou evento, com o objetivo de entregar o certificado de participação. A entrega acontece de duas maneiras: com o documento diretamente em anexo para download, ou através de um link e instruções para acessá-lo em uma plataforma.|Palavras-chave que ajudam na classificação: certificado, certificados, seu certificado, disponível, conclusão, parabéns, baixar, download, plataforma, em anexo, completou o curso."
            },
            {
              "category": "Confirmação de Inscrição e Engajamento",
              "description": "Outros que não se enquadram nas categorias listadas acima, engloba a isso: e-mails que confirmam a inscrição em um curso ou evento, mas sem a data ou link de acesso final. O objetivo é dar as boas-vindas e solicitar uma ação secundária para engajar o participante, como responder a uma pesquisa ou confirmar o recebimento de futuros comunicados.|Palavras-chave que ajudam na classificação: inscrição confirmada, parabéns, seja bem-vindo, próximos passos, sua vaga está garantida, pesquisa, responda este e-mail, grupo, comunidade, o que esperar, sua inscrição foi realizada."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -800,
        464
      ],
      "id": "a31d69d1-44e1-4a14-b517-2ae71357a5a8",
      "name": "Classificador de estudos"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -304,
        512
      ],
      "id": "35bd7b11-136b-4caf-87fe-f297730947a6",
      "name": "Mark a message as read3",
      "webhookId": "9bcdefbf-20c0-4c8c-a1ca-c5a46370ea34",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -304,
        704
      ],
      "id": "436061a9-8c96-45ff-8026-fc2364d9ba85",
      "name": "Mark a message as read4",
      "webhookId": "9bcdefbf-20c0-4c8c-a1ca-c5a46370ea34",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=A seguir você receberá o conteúdo de um e-mail sobre um evento. Extraia os seguintes Campos:\n\n- titulo: O nome principal do evento, aula ou live. Seja o mais conciso possível.\n- data: A data e hora de início do evento. Se o e-mail mencionar termos como \"hoje\" ou \"amanhã\", use a \"Data de hoje\" como referência para o cálculo. O formato final deve ser AAAA-MM-DD. Se nenhuma data for encontrada, retorne null.\n- hora: A hora de início do evento.Se o e-mail mencionar termos como \"agora\" ou \"daqui a pouco\", use a \"Hora atual\".O formato final deve ser HH:mm:ss. Se nenhuma data for encontrada, retorne 07:00:00\n- link: O link de acesso para o evento (Zoom, YouTube, etc.). Se não houver, retorne \"Não disponível\".\n- categoria: O tipo do evento (ex: Aula, Live, Webinar, Reunião, Pessoal). Se não for possível identificar, use a categoria \"Evento\".\n- resumo: Uma frase de aviso para ser enviada por um assistente. A mensagem deve avisar sobre a aula de forma simpática e objetiva, como se fosse enviada por WhatsApp, citando o título e a data do evento.\n\n--- CONTEÚDO DO E-MAIL ---\nAssunto: {{ $('Gmail Trigger').item.json.headers.subject }}\nCorpo: {{ $('Gmail Trigger').item.json.text }}\n\nData de hoje (para referência):\n{{ $now }}\nHora atual (para referência):\n{{ $now }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é um assistente de produtividade e agendamento. Seu papel é interpretar e-mails sobre eventos, aulas e lives para extrair os dados essenciais (título, data, hora, link) de forma estruturada, com o objetivo de criar um evento automaticamente no calendário.\nCaso o texto informe proxima semana, calcular a data atual mais 7 dias.\nAlém disso, você deve gerar uma frase de confirmação no campo \"resumo\". Esta frase deve ter um tom simpático e direto, como um assistente pessoal respondendo por mensagem. O texto deve avisar que terá um evento, citando o título e a data/hora do evento. Escreva a frase em uma única linha, sem quebras de linha."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -400,
        112
      ],
      "id": "63f3ad18-6ebe-49a2-927d-298078b54b50",
      "name": "Agent_to_insert"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"titulo\": \"Aula 4: Agente de IA para leitura de documentos\",\n  \"data\": \"2025-07-15\",\n  \"hora\": \"20:00:00\",\n  \"link\": \"https://us06web.zoom.us/meeting/register/b7D1HlEAQRy-706zW8nyWQ\",\n  \"categoria\": \"Aula\",\n  \"resumo\": \"Sua 'Aula 4: Agente de IA' está marcada para o dia 15/07 às 20:00. Bons estudos! 🚀\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -240,
        336
      ],
      "id": "8769c8cf-5017-421a-b658-b544232fae5c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -368,
        336
      ],
      "id": "37fa32ed-9152-47a2-8bc0-64ea1d585a72",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "d3Tnyg2zaYc0yG1N",
          "name": "Google Gemini D977"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "diegosousa977@gmail.com",
          "mode": "list",
          "cachedResultName": "diegosousa977@gmail.com"
        },
        "start": "={{ DateTime.fromISO($json.output.data + \"T\" + $json.output.hora).toISO() }}",
        "end": "={{ DateTime.fromISO($json.output.data + \"T\" + $json.output.hora).plus({hours: 1}).toISO() }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "={{ $json.output.resumo }}\n\nLink de acesso: {{ $json.output.link }}",
          "summary": "={{ $json.output.titulo }}"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "popup",
              "minutes": 120
            },
            {
              "method": "popup",
              "minutes": 1440
            },
            {
              "method": "popup",
              "minutes": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d88e2e04-6350-4ce3-9a19-87a299bd8241",
      "name": "Create an event1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wYHbsxdf3AuOr8xY",
          "name": "Google Calendar D977"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"descricao\": \"Conta de Luz Equatorial\",\n  \"valor\": 188.77,\n  \"data_vencimento\": \"2025-07-02\",\n  \"categoria\": \"Moradia\",\n  \"resumo\": \"Lembrete: Sua 'Conta de Luz Equatorial' no valor de R$188,77 vence no dia 02/07/2025. Não se esqueça! 💡\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -240,
        1120
      ],
      "id": "fe8e1ce7-abdb-42eb-b529-f20130d9e1fe",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -368,
        1120
      ],
      "id": "5d614808-90ec-4c9d-a102-965830138394",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "d3Tnyg2zaYc0yG1N",
          "name": "Google Gemini D977"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "diegosousa977@gmail.com",
          "mode": "list",
          "cachedResultName": "diegosousa977@gmail.com"
        },
        "start": "={{ $json.output.data_vencimento }}",
        "end": "={{ $json.output.data_vencimento }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "allday": "yes",
          "description": "={{ $json.output.resumo }}\n\nLembre-se a data máxima de pagamento é: {{ $json.output.data_vencimento }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        0,
        848
      ],
      "id": "6e0bb7f0-2212-4c5b-ba33-566d1ee9809f",
      "name": "Create an event2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "wYHbsxdf3AuOr8xY",
          "name": "Google Calendar D977"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=A seguir você receberá o conteúdo de um e-mail sobre uma conta ou fatura a ser paga. Extraia os seguintes Campos:\n- categoria: A categoria da despesa (ex: Igreja, educação, internet e telefone, transporte, saúde, Temporario, Moradia, alimentação, Presente.), caso não seja informada categoria usar a categoria \"Temporario\"\n- descricao: O nome principal da conta (ex: Conta de Luz Equatorial, Fatura do Cartão, Boleto da Internet). Seja o mais conciso possível.\n- valor: O valor numérico exato a ser pago, sem o 'R$'. Use virgula como separador decimal (ex: 188,77).\n- data_vencimento: A data de vencimento da conta. Procure pelo termo \"VENCIMENTO\". O formato final deve ser AAAA-MM-DD. Se nenhuma data for encontrada, retorne null.\n- resumo: Uma frase de lembrete para ser enviada por um assistente. A mensagem deve lembrar sobre a conta a pagar de forma amigável, como se fosse enviada por WhatsApp, citando a descrição, o valor e o vencimento.\n\n--- CONTEÚDO DO E-MAIL ---\nAssunto: {{ $('Gmail Trigger').item.json.headers.subject }}\nCorpo: {{ $('Gmail Trigger').item.json.text }}\n\nData de hoje (para referência):\n{{ $now }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Você é um assistente financeiro pessoal. Seu papel é interpretar e-mails sobre contas, faturas e boletos a pagar para extrair os dados essenciais (descrição, valor, data de vencimento) de forma estruturada, com o objetivo de registrar essa obrigação financeira em um sistema de controle.\nCaso não encontre a data de vencimento, calcule a data atual mais 7 dias e insira essa nova data como a data de vencimento. \nCaso não encontre o valor insira 20 reais.\nAlém disso, você deve gerar uma frase de confirmação no campo \"resumo\". Esta frase deve ter um tom simpático e direto, como um assistente pessoal respondendo por mensagem. O texto deve avisar que terá um evento, citando o título e a data/hora do evento. Escreva a frase em uma única linha, sem quebras de linha."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -400,
        896
      ],
      "id": "51491dfc-6f50-42ad-966b-5089d0e0797e",
      "name": "Agent_to_finance"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        176
      ],
      "id": "4e9ef4e6-9444-4408-88b9-5091dc25b3cc",
      "name": "Mark a message as read5",
      "webhookId": "9bcdefbf-20c0-4c8c-a1ca-c5a46370ea34",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        1008
      ],
      "id": "8d714aae-523a-4a2b-a030-e3fd1870692f",
      "name": "Mark a message as read6",
      "webhookId": "9bcdefbf-20c0-4c8c-a1ca-c5a46370ea34",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMIwmI9AtvLvB8HW",
          "name": "Gmail D977"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "1991a20bf9d561d8",
          "threadId": "1991a20bf9d561d8",
          "labelIds": [
            "UNREAD",
            "CATEGORY_UPDATES",
            "INBOX"
          ],
          "sizeEstimate": 46146,
          "headers": {
            "delivered-to": "Delivered-To: diegosousa977@gmail.com",
            "received": "Received: from cell-3-bdb674f6f-h8b9s (10.65.107.183)\r\n  by acems1.com (KumoMTA 10.13.182.134) \r\n  with ESMTP id a055cc5b8a5e11f0a2e80e5457101f61 for <diegosousa977@gmail.com>;\r\n  Fri, 5 Sep 2025 13:45:47 +0000",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IF6JABUxb0efWiHYjQn5KIEU0+7cyqBqxKB2e0P8gbRmoPW3ZsPZ6G2eF/U/lcMClxP8A/7",
            "x-received": "X-Received: by 2002:a05:6214:519a:b0:712:e30b:ef2c with SMTP id 6a1803df08f44-712e30bf19dmr213228136d6.6.1757079977522;\r\n        Fri, 05 Sep 2025 06:46:17 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1757079977; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=EBiop2TFnz4X/ZdJol7i4+AAkHcSMZN2bicibZZP03U1N7plfWgPiZljck3xNkN9cu\r\n         /0beJTSgzVZ6Em42F0cVzLSWhDFHTMI6hOIwtoVZiqu2eKk3rS1A7V1OXKjoSnc6e0LL\r\n         OlBURGTcQ5d6XOFBUc0/zcfSaiEJMY6yn86G7/JpqXPirMHhedhlKinPWrXeNLx2V6oP\r\n         wRYEsNE8eZxSzvijZUJGnsGLraWaPA0DEgVxdk2pvhvtZI50BNC2S2iDj53RBRB67+Yn\r\n         gOU8lRSdFVAvhY0AXMEMVtUPBDw4dDSK05Drz7Mv5bewQ7v3Qhd8rFM5aPTCjCKqWGxb\r\n         QVoQ==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=feedback-id:list-unsubscribe:list-unsubscribe-post:mime-version\r\n         :subject:message-id:to:from:date:cfbl-address:dkim-signature\r\n         :dkim-signature;\r\n        bh=7In+YPnksQ6H4OGsLx6D7hNSzwrYc2wBdCCc6XRMOfE=;\r\n        fh=T7ZyKo35lweCY6qf1Lkllbg/B7lyEyE2bPe6fxGFM08=;\r\n        b=EBFJk1juRkl0UtppAMrOmlk3TXZCbXWLoTywIxN4oFqFoyhTR8OuLtENrzErMfuNAn\r\n         U52bdA1nHXj+ifHrhCKczsJkx57+ijCCpPqrbFEJQNv5f/WAm0CO+eKyYv2Tvqo+pB91\r\n         +sFitD4LCID3D3lKkxF/RZajrv68d2rREpxKx71jExCWEF9J+2EK+0sTCq30n4R49GdM\r\n         JpSAjZtkQ1OnZIJI0AIRDG6ct3Yt84dPXK2Z5+nfng0JjDBFNOW4IQ6Pep6TOJR1vycb\r\n         +QnK7twwCiBBfXjSBu6GvHA0HLHUoVS1k9vFBcYt3d9LwKgjHIQztItGyV85aw3KkfZj\r\n         2Yzw==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@empowerdata.com.br header.s=acdkim1 header.b=PPWiUZ5P;\r\n       dkim=pass header.i=@acems2.com header.s=acdkim1 header.b=XFPoqkfW;\r\n       spf=pass (google.com: domain of bounce-1978045-2601-3505099-diegosousa977=gmail.com@em-1978045.empowerdata.com.br designates 52.128.40.84 as permitted sender) smtp.mailfrom=\"bounce-1978045-2601-3505099-diegosousa977=gmail.com@em-1978045.empowerdata.com.br\";\r\n       dmarc=pass (p=NONE sp=NONE dis=NONE) header.from=empowerdata.com.br",
            "return-path": "Return-Path: <bounce-1978045-2601-3505099-diegosousa977=gmail.com@em-1978045.empowerdata.com.br>",
            "received-spf": "Received-SPF: pass (google.com: domain of bounce-1978045-2601-3505099-diegosousa977=gmail.com@em-1978045.empowerdata.com.br designates 52.128.40.84 as permitted sender) client-ip=52.128.40.84;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@empowerdata.com.br header.s=acdkim1 header.b=PPWiUZ5P;\r\n       dkim=pass header.i=@acems2.com header.s=acdkim1 header.b=XFPoqkfW;\r\n       spf=pass (google.com: domain of bounce-1978045-2601-3505099-diegosousa977=gmail.com@em-1978045.empowerdata.com.br designates 52.128.40.84 as permitted sender) smtp.mailfrom=\"bounce-1978045-2601-3505099-diegosousa977=gmail.com@em-1978045.empowerdata.com.br\";\r\n       dmarc=pass (p=NONE sp=NONE dis=NONE) header.from=empowerdata.com.br",
            "x-kumoref": "X-KumoRef: eyJfQF8iOiJcXF8vIiwicmVjaXBpZW50IjoiZGllZ29zb3VzYTk3N0BnbWFpbC5jb20ifQ==",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; d=acems2.com; s=acdkim1; c=relaxed/relaxed;\r\n\tbh=7In+YPnksQ6H4OGsLx6D7hNSzwrYc2wBdCCc6XRMOfE=;\r\n\th=from:to:subject:date:mime-version:content-type:sender:cc:date:message-id:\r\n\t\tlist-unsubscribe:list-unsubscribe-post; t=1757079947; x=1757166347;\r\n\tb=XFPoqkfWSqGRyrtQB7q3h3VXlffuWlxmHQe0FD5FUXJ/DI5j28XH8z5Z3snZLr+EH4/6XNLLg\r\n\tjkVgQjoLMd/SLtWvvsJa2TIuN8j/N08Ed1CoFKWvSWHaPynHyRvXn5LU5eYUdALFt5yhL/g5w8w\r\n\tqwSNMv7uMHV4+TUyt0RL59ke0lpjmTi79UI0tRfbhYVDMtztr3y3RFOPdgvvxsgDmdDuJ86Rrsx\r\n\tuZHSmrG9D+FxuM1Zki8PiaKO+j74cITyt0LGJgRKRTLcrZVn1slDKq7QiVdY2N/N3FrN+cUcVgr\r\n\tP0TTxHTIBc/39GYzsT1HBmh2fqehn6BZvQAvCofJU7MA==;",
            "cfbl-address": "CFBL-Address: fbl-report@acems1.com; report=arf",
            "x-mailer": "X-Mailer: ActiveCampaign Mailer",
            "date": "Date: Fri, 5 Sep 2025 13:45:46 +0000 (GMT)",
            "from": "From: Lorennzo da Daxus <comunicacao@empowerdata.com.br>",
            "to": "To: diegosousa977@gmail.com",
            "message-id": "Message-ID: <2035476849.6870382.1757079946998@cell-3-bdb674f6f-h8b9s>",
            "subject": "Subject: =?UTF-8?Q?[Check-in_pendente]_Imers=C3=A3o_de_IA_na_Pr=C3=A1tica?=",
            "mime-version": "MIME-Version: 1.0",
            "content-type": "Content-Type: multipart/alternative; \r\n\tboundary=\"----=_Part_6870381_1501738437.1757079946998\"",
            "x-dkim-options": "X-DKIM-Options: s=acdkim1",
            "list-unsubscribe-post": "List-Unsubscribe-Post: List-Unsubscribe=One-Click",
            "x-virtual-mta": "X-Virtual-Mta: s6.csa1.acemsc2.com",
            "x-250ok-cid": "X-250ok-CID: 1978045-2601",
            "list-unsubscribe": "List-Unsubscribe: <https://salesmelodata.activehosted.com/box.php?nl=236&c=2601&m=3076&s=46272334bf17d65015df27858ab67e34&funcml=unsub2&luha=1>,<mailto:unsubscribe-9a7b04eb13e8640c632f343c61612750-2601-46272334bf17d65015df27858ab67e34@s6.csa1.acemsd3.com>",
            "feedback-id": "Feedback-ID: 1978045:activecampaign",
            "x-sending-engine": "X-Sending-Engine: Hedwig PCS",
            "x-report-abuse": "X-Report-Abuse: Please report abuse to abuse@activecampaign.com",
            "x-mid": "X-mid: ZGllZ29zb3VzYTk3N0BnbWFpbC5jb20gLCBjMjYwMSAsIG0zMDc2ICwgczcxMTc5Ng=="
          },
          "html": "<!DOCTYPE html><html>\n<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n<meta http-equiv=\"Content-Language\" content=\"pt-br\">\n<meta name=\"format-detection\" content=\"telephone=no\">\n<meta name=\"format-detection\" content=\"date=no\">\n<meta name=\"format-detection\" content=\"address=no\">\n<meta name=\"format-detection\" content=\"email=no\">\n<meta name=\"viewport\" content=\"width=device-width, minimal-ui, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;\">\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n<title></title>\n<style data-ac-keep=\"true\"> .ExternalClass { width: 100%; background: inherit; background-color: inherit; } .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; } .ExternalClass p, .ExternalClass ul, .ExternalClass ol { Margin: 0; } .undoreset div p, .undoreset p { margin-bottom: 20px; } div[class^=\"aolmail_divbody\"] { overflow: auto; } [owa] #ac-footer { padding: 20px 0px !important; background: inherit; background-color: inherit; } a[x-apple-data-detectors] { color: inherit !important; text-decoration: none !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important; } @-ms-viewport { width: device-width; } </style>\n<style data-ac-keep=\"true\">\n@media only screen and (max-width: 600px) { /*-------------------------------------------------------------------------*\\ Abandoned Cart widget \\*------------------------------------------------------------------------*/ .td_abandoned-cart img {display: block;padding-right: 0 !important;padding-bottom: 0 !important;width: 100% !important;max-width: 100% !important;height: auto !important;} body { padding: 0!important; font-size:1em!important; } * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } *[class].divbody {-webkit-text-size-adjust:none !important;} *[class].td_picture img {width:auto !important;} *[class].td_text { line-height: 110%; } *[class].td_button { width: auto; } /* Collapse all block elements */ :not(.body) table { display: block!important; float:none!important; border-collapse:collapse !important; width:100% !important; min-width:100% !important; clear:both!important; } :not(.body) thead, :not(.body) tbody, :not(.body) tr { display:block!important; float:none!important; width:100% !important; } :not(.body) th, :not(.body) td, :not(.body) p { display:block!important; float:none!important; width:100% !important; clear:both!important; } /* Remove browser default styling for elements */ ul, ol { margin-left: 20px; margin-bottom: 10px; margin-top: 10px; -webkit-margin-before: 0; -webkit-margin-after: 0; -webkit-padding-start: 0; } /* Set default height for spacer once collapse */ *[class].spacer { height: auto!important; } a[href^=date]{ color:inherit !important; text-decoration:none !important;} a[href^=telephone]{ color:inherit !important; text-decoration:none !important;} a[href^=address]{ color:inherit !important; text-decoration:none !important;} a[href^=email]{ color:inherit !important; text-decoration:none !important;} /* Default table cell height */ td[height=\"14\"]{height:14px!important;font-size:14px!important;line-height:14px!important;} /*-------------------------------------------------------------------------*\\ Product Widget \\*-------------------------------------------------------------------------*/ .td_product div, .td_product .products-display { float: none !important; display: block !important; width: 100% !important; Margin-bottom: 20px !important; } .td_product img { width: 100% !important; max-width: 100% !important; } /* Default social icons */ *[class].ac-social-icon-16 {width:16px !important; height:16px !important;} *[class].ac-social-icon-24 {width:24px !important; height:24px !important;} *[class].ac-social-icon-28 {width:28px !important; height:28px !important;} *[class].__ac_social_icons { margin-right: 0px !important; } }\n</style>\n<style data-ac-keep=\"true\"> @media only screen and (max-width: 320px) { div.divbody { padding: 20px !important; } table, tbody, td, .divbody { display: table !important; width: 100% !important; max-width: 100% !important; } .td_rss .rss-item img.iphone_large_image { width: auto !important; } u + .body { display: table !important; width: 100vw !important; min-width: 100vw !important; } u + .body table { display: table !important; width: 100% !important; min-width: 100% !important; } u + .body td { display: block !important; width: 100% !important; min-width: 100% !important; } u + .body img { display: inline-block !important; margin: auto !important; width: auto !important; vertical-align: bottom !important; } u + .body center { display: block !important; margin: auto !important; width: 100% !important; min-width: 100% !important; text-align: center !important; } u + .body table._ac_social_table, u + .body table._ac_social_table td, u + .body table._ac_social_table div, u + .body table._ac_social_table a { display: inline-block !important; margin: auto !important; width: auto !important; min-width: auto !important; text-align: center !important; } u + .body table._ac_social_table img { display: inline-block !important; margin: auto !important; width: 32px !important; min-width: 32px !important; max-width: 32px !important; }\n}\n@media only screen and (max-width: 375px) { div.divbody { padding: 20px !important; } table, tbody, td, .divbody { display: table !important; width: 100% !important; max-width: 100% !important; } .td_rss .rss-item img.iphone_large_image { width: auto !important; } u + .body { display: table !important; width: 100vw !important; min-width: 100vw !important; } u + .body table { display: table !important; width: 100% !important; min-width: 100% !important; } u + .body td { display: block !important; width: 100% !important; min-width: 100% !important; } u + .body img { display: inline-block !important; margin: auto !important; width: auto !important; vertical-align: bottom !important; } u + .body center { display: block !important; margin: auto !important; width: 100% !important; min-width: 100% !important; text-align: center !important; } u + .body table._ac_social_table, u + .body table._ac_social_table td, u + .body table._ac_social_table div, u + .body table._ac_social_table a { display: inline-block !important; margin: auto !important; width: auto !important; min-width: auto !important; text-align: center !important; } u + .body table._ac_social_table img { display: inline-block !important; margin: auto !important; width: 32px !important; min-width: 32px !important; max-width: 32px !important; }\n}\n@media only screen and (max-width: 414px) { div.divbody { padding: 20px !important; } table, tbody, td, .divbody { display: table !important; width: 100% !important; max-width: 100% !important; } .td_rss .rss-item img.iphone_large_image { width: auto !important; } u + .body { display: table !important; width: 100vw !important; min-width: 100vw !important; } u + .body table { display: table !important; width: 100% !important; min-width: 100% !important; } u + .body td { display: block !important; width: 100% !important; min-width: 100% !important; } u + .body img { display: inline-block !important; margin: auto !important; width: auto !important; vertical-align: bottom !important; } u + .body center { display: block !important; margin: auto !important; width: 100% !important; min-width: 100% !important; text-align: center !important; } u + .body table._ac_social_table, u + .body table._ac_social_table td, u + .body table._ac_social_table div, u + .body table._ac_social_table a { display: inline-block !important; margin: auto !important; width: auto !important; min-width: auto !important; text-align: center !important; } u + .body table._ac_social_table img { display: inline-block !important; margin: auto !important; width: 32px !important; min-width: 32px !important; max-width: 32px !important; }\n}\n@media only screen and (max-width: 667px) { div.divbody { padding: 20px !important; } table, tbody, td, .divbody { display: table !important; width: 100% !important; max-width: 100% !important; } .td_rss .rss-item img.iphone_large_image { width: auto !important; } u + .body { display: table !important; width: 100vw !important; min-width: 100vw !important; } u + .body table { display: table !important; width: 100% !important; min-width: 100% !important; } u + .body td { display: block !important; width: 100% !important; min-width: 100% !important; } u + .body img { display: inline-block !important; margin: auto !important; width: auto !important; vertical-align: bottom !important; } u + .body center { display: block !important; margin: auto !important; width: 100% !important; min-width: 100% !important; text-align: center !important; } u + .body table._ac_social_table, u + .body table._ac_social_table td, u + .body table._ac_social_table div, u + .body table._ac_social_table a { display: inline-block !important; margin: auto !important; width: auto !important; min-width: auto !important; text-align: center !important; } u + .body table._ac_social_table img { display: inline-block !important; margin: auto !important; width: 32px !important; min-width: 32px !important; max-width: 32px !important; }\n} </style><!--[if !mso]><!-- webfonts -->\n<link href=\"https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&amp;family=Roboto:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&amp;display=swap\" rel=\"stylesheet\"><!--<![endif]--> <!--[if lt mso 12]> <link href=\"https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap\" rel=\"stylesheet\"><![endif]--> <!--[if gte mso 9]>\n<xml> <o:OfficeDocumentSettings> <o:AllowPNG/> <o:PixelsPerInch>96</o:PixelsPerInch> </o:OfficeDocumentSettings>\n</xml>\n<![endif]-->\n</head>\n<body id=\"ac-designer\" class=\"body\" style=\"font-family: Arial; line-height: 1.1; margin: 0px; background-color: #FFFFFF; width: 100%; text-align: center;\">\n<div style=\"display: none !important; padding: 0; height: 1px; font-size: 1px; background-color: inherit !important; opacity: 0; color: transparent; mso-line-height-rule: exactly; line-height:1px; mso-hide:all;\">\nGaranta o seu certificado e ganhe prêmios \n<div style=\"display: none; max-height: 0px; overflow: hidden;\">\n&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌\n</div>\n</div>\n<div class=\"divbody\" style=\"margin: 0px; outline: none; padding: 0px; color: #000000; font-family: arial; line-height: 1.1; width: 100%; background-color: #FFFFFF; background: #FFFFFF; text-align: center;\">\n<table class=\"template-table\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" align=\"left\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: collapse; font-size: 14px; min-width: auto; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #FFFFFF; background: #FFFFFF;\">\n<tr style=\"mso-line-height-rule: exactly;\">\n<td align=\"center\" valign=\"top\" width=\"100%\" style=\"mso-line-height-rule: exactly;\">\n<table class=\"template-table\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"650\" bgcolor=\"#FFFFFF\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: collapse; font-size: 14px; min-width: auto; mso-table-lspace: 0pt; mso-table-rspace: 0pt; max-width: 650px;\">\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"layout_table_a06ece20662f79d7e74df39ba042860be2c32f67\" valign=\"top\" align=\"center\" width=\"650\" style=\"mso-line-height-rule: exactly;\">\n<table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" class=\"layout layout-table root-table\" width=\"650\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: collapse; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"layout-row-margin10696\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: initial !important; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr id=\"layout-row10696\" class=\"layout layout-row widget _widget_text style10696\" style=\"mso-line-height-rule: exactly; margin: 0; padding: 0;\">\n<td id=\"layout-row-padding10696\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: collapse; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"text_div10657\" class=\"td_text td_block\" valign=\"top\" align=\"left\" width=\"650\" style=\"line-height: 140%; mso-line-height-rule: exactly; margin: 0; outline: none; padding: 0; color: inherit; font-size: 12px; font-weight: inherit; line-height: 1.4; text-decoration: inherit; font-family: arial;\">\n<div style=\"line-height: 140%; margin: 0; outline: none; padding: 0; color: inherit; font-size: 15px; font-weight: inherit; line-height: 1.4; text-decoration: inherit; mso-line-height-rule: exactly;\" class=\"\" data-line-height=\"1.4\">\n<div class=\"\" style=\"margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">\n<span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\" class=\"\"><b style=\"margin: 0; outline: none; padding: 0; font-style: normal; text-decoration: none; color: #000000;\" class=\"\"></b> <span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\">Olá, Diego Sousa Borges !</span><br><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\"> </span><br><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\">Na próxima semana começa a nossa Imersão Inteligência Artificial na Prática, por isso vim aqui te lembrar de realizar o seu <b style=\"margin: 0; outline: none; padding: 0;\">check-in</b>.</span><br><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\"> </span><br><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\">Ao confirmar a sua participação agora, você garante:<br></span><br>\n<ul style=\"margin: 0 0 0 40px; padding: 0;\">\n<li style=\"display: list-item; line-height: inherit; list-style-type: disc; margin: 0 0 0 3px;\"><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\"> A emissão do seu <b style=\"margin: 0; outline: none; padding: 0;\">certificado</b> após as 4 aulas ao vivo;</span></li>\n</ul>\n<div style=\"margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">\n<br>\n</div>\n<ul style=\"margin: 0 0 0 40px; padding: 0;\">\n<li style=\"display: list-item; line-height: inherit; list-style-type: disc; margin: 0 0 0 3px;\"><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\"> Acesso à dinâmica especial para <b style=\"margin: 0; outline: none; padding: 0;\">ganhar prêmios</b> antes mesmo do treinamento começar;</span></li>\n</ul>\n<div style=\"margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">\n<br>\n</div>\n<ul style=\"margin: 0 0 0 40px; padding: 0;\">\n<li style=\"display: list-item; line-height: inherit; list-style-type: disc; margin: 0 0 0 3px;\"><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\" class=\"\"><b style=\"margin: 0; outline: none; padding: 0;\"><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\"> Conteúdo</span></b><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\"> <b style=\"margin: 0; outline: none; padding: 0;\">sob medida</b> para o seu desenvolvimento profissional.</span></span></li>\n</ul></span>\n<br class=\"\">\n</div>\n</div><!--[if (gte mso 12)&(lte mso 15) ]>\n<style data-ac-keep=\"true\" data-ac-inline=\"false\"> #text_div10657, #text_div10657 div { line-height: 140% !important; };\n</style>\n<![endif]--></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"layout-row-margin10698\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0px;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: initial !important; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr id=\"layout-row10698\" class=\"layout layout-row widget _widget_button style10698\" style=\"mso-line-height-rule: exactly;\">\n<td id=\"layout-row-padding10698\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0px;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: collapse; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr style=\"mso-line-height-rule: exactly;\">\n<td class=\"td_button td_block customizable\" valign=\"top\" align=\"left\" width=\"650\" style=\"mso-line-height-rule: exactly;\">\n<div class=\"button-wrapper\" style=\"margin: 0; outline: none; padding: 0; text-align: left;\">\n<!--[if mso]> <v:roundrect xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:w=\"urn:schemas-microsoft-com:office:word\" href=\"https://salesmelodata.acemlnb.com/lt.php?x=3DZy~GDHJ3Kg5H_8zA29UOef2nEgiNQiw-c2Z5XLUqKf6aF8zEy.0uJx1H3zit91k_YxXncWInCa6pN\" style=\"v-text-anchor:middle; width:354px; height:60px; font-weight: bold;\" arcsize=\"6%\" strokecolor=\"#B5B5B5\" strokeweight=\"1pt\" fillcolor=\"#23a6c0\" o:button=\"true\" o:allowincell=\"true\" o:allowoverlap=\"false\" > <v:textbox inset=\"2px,2px,2px,2px\"> <center style=\"color:#ffffff;font-family:Open Sans, Roboto, San Francisco, Helvetica, Arial, sans-serif; font-size:14px; font-weight: bold;line-height: 1.1;\">Clique aqui para fazer o check-in da imersão</center> </v:textbox> </v:roundrect>\n<![endif]--> <a href=\"https://salesmelodata.acemlnb.com/lt.php?x=3DZy~GDHJ3Kg5H_8zA29UOef2nEgiNQiw-c2Z5XLUqKf6aF8zEy.0uJx1H3zit91k_YxXncWInCa6pN\" style=\"margin: 0; outline: none; padding: 12px; color: #ffffff; background: #23a6c0; background-color: #23a6c0; border: 1px solid #B5B5B5; border-radius: 3px; font-family: Open Sans, Roboto, San Francisco, Helvetica, Arial, sans-serif; font-size: 14px; display: inline-block; line-height: 1.1; text-align: center; text-decoration: none; mso-hide: all;\"> <span style=\"color:#ffffff;font-family:Open Sans, Roboto, San Francisco, Helvetica, Arial, sans-serif;font-size:14px;font-weight: bold;\"> Clique aqui para fazer o check-in da imersão </span> </a>\n</div></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"layout-row-margin10697\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: initial !important; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr id=\"layout-row10697\" class=\"layout layout-row widget _widget_text style10697\" style=\"mso-line-height-rule: exactly; margin: 0; padding: 0;\">\n<td id=\"layout-row-padding10697\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: collapse; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"text_div10658\" class=\"td_text td_block\" valign=\"top\" align=\"left\" width=\"650\" style=\"line-height: 140%; mso-line-height-rule: exactly; margin: 0; outline: none; padding: 0; color: inherit; font-size: 12px; font-weight: inherit; line-height: 1.4; text-decoration: inherit; font-family: arial;\">\n<div style=\"line-height: 140%; margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: 1.4; text-decoration: inherit; mso-line-height-rule: exactly;\" class=\"\" data-line-height=\"1.4\">\n<div class=\"\" style=\"margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">\n<span style=\"color: inherit; font-size: 15px; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\" class=\"\"><br><b style=\"margin: 0; outline: none; padding: 0;\"><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\">Como funciona a dinâmica especial:</span></b><br><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\">Cada amigo que se inscrever no treinamento através do seu convite vale 1 ponto. Quanto mais pontos, mais materiais exclusivos de Inteligência Artificial você desbloqueia.</span><br><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\"> </span><br><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\">Para receber o link e conferir todos os detalhes da dinâmica, basta <b style=\"margin: 0; outline: none; padding: 0;\">confirmar o seu check-in</b> respondendo a uma <b style=\"margin: 0; outline: none; padding: 0;\">pesquisa</b> <b style=\"margin: 0; outline: none; padding: 0;\">super-rápida</b>.</span><br class=\"\"><br></span>\n</div>\n</div><!--[if (gte mso 12)&(lte mso 15) ]>\n<style data-ac-keep=\"true\" data-ac-inline=\"false\"> #text_div10658, #text_div10658 div { line-height: 140% !important; };\n</style>\n<![endif]--></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"layout-row-margin10700\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0px;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: initial !important; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr id=\"layout-row10700\" class=\"layout layout-row widget _widget_button style10700\" style=\"mso-line-height-rule: exactly;\">\n<td id=\"layout-row-padding10700\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0px;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: collapse; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr style=\"mso-line-height-rule: exactly;\">\n<td class=\"td_button td_block customizable\" valign=\"top\" align=\"left\" width=\"650\" style=\"mso-line-height-rule: exactly;\">\n<div class=\"button-wrapper\" style=\"margin: 0; outline: none; padding: 0; text-align: left;\">\n<!--[if mso]> <v:roundrect xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:w=\"urn:schemas-microsoft-com:office:word\" href=\"https://salesmelodata.acemlnb.com/lt.php?x=3DZy~GDHJ3Kg5H_8zA29UOef2nEgiNQiw-c2Z5XLUqKf6aF8zEy.0uJx1H3zit91k_YxXncWInCa6pN\" style=\"v-text-anchor:middle; width:349px; height:60px; font-weight: bold;\" arcsize=\"6%\" strokecolor=\"#B5B5B5\" strokeweight=\"1pt\" fillcolor=\"#23a6c0\" o:button=\"true\" o:allowincell=\"true\" o:allowoverlap=\"false\" > <v:textbox inset=\"2px,2px,2px,2px\"> <center style=\"color:#ffffff;font-family:Open Sans, Roboto, San Francisco, Helvetica, Arial, sans-serif; font-size:14px; font-weight: bold;line-height: 1.1;\">Clique aqui e\nconfirme sua vaga na imersão</center> </v:textbox> </v:roundrect>\n<![endif]--> <a href=\"https://salesmelodata.acemlnb.com/lt.php?x=3DZy~GDHJ3Kg5H_8zA29UOef2nEgiNQiw-c2Z5XLUqKf6aF8zEy.0uJx1H3zit91k_YxXncWInCa6pN\" style=\"margin: 0; outline: none; padding: 12px; color: #ffffff; background: #23a6c0; background-color: #23a6c0; border: 1px solid #B5B5B5; border-radius: 3px; font-family: Open Sans, Roboto, San Francisco, Helvetica, Arial, sans-serif; font-size: 14px; display: inline-block; line-height: 1.1; text-align: center; text-decoration: none; mso-hide: all;\"> <span style=\"color:#ffffff;font-family:Open Sans, Roboto, San Francisco, Helvetica, Arial, sans-serif;font-size:14px;font-weight: bold;\"> Clique aqui e confirme sua vaga na imersão </span> </a>\n</div></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"layout-row-margin10699\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: initial !important; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr id=\"layout-row10699\" class=\"layout layout-row widget _widget_text style10699\" style=\"mso-line-height-rule: exactly; margin: 0; padding: 0;\">\n<td id=\"layout-row-padding10699\" valign=\"top\" style=\"mso-line-height-rule: exactly; padding: 0;\">\n<table width=\"100%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"-ms-text-size-adjust: auto; -webkit-text-size-adjust: 100%; border-collapse: collapse; font-size: 14px; min-width: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt;\">\n<tr style=\"mso-line-height-rule: exactly;\">\n<td id=\"text_div10660\" class=\"td_text td_block\" valign=\"top\" align=\"left\" width=\"650\" style=\"line-height: 140%; mso-line-height-rule: exactly; margin: 0; outline: none; padding: 0; color: inherit; font-size: 12px; font-weight: inherit; line-height: 1.4; text-decoration: inherit; font-family: arial;\">\n<div style=\"line-height: 140%; margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: 1.4; text-decoration: inherit; mso-line-height-rule: exactly;\" class=\"\" data-line-height=\"1.4\">\n<div class=\"\" style=\"margin: 0; outline: none; padding: 0; color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit;\">\n<span style=\"color: inherit; font-size: 15px; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\" class=\"\"><br class=\"\"><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\">Lembre-se: essa pesquisa é fundamental para prepararmos o melhor treinamento para você.</span><b style=\"margin: 0; outline: none; padding: 0; mso-bidi-font-weight: normal;\"><u style=\"margin: 0; outline: none; padding: 0;\"></u></b><br><span style=\"color: inherit; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\"> </span><br><span style=\"color: #000000; font-size: inherit; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\">Nos vemos na primeira aula!</span><br></span>\n<div style=\"margin: 0; outline: none; padding: 0; color: #000000; font-size: 15px; font-weight: inherit; line-height: inherit; text-decoration: inherit; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\" class=\"\">\n<span style=\"color: #000000; font-size: 15px; font-weight: inherit; line-height: inherit; text-decoration: none; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\" class=\"\"><br class=\"\"><span style=\"color: #000000; font-size: 14px; font-weight: inherit; line-height: inherit; text-decoration: none; font-style: normal; --tw-shadow: 0 0 transparent; --tw-ring-inset: var(--tw-empty, ); --tw-ring-offset-width: 0px; --tw-ring-offset-color: #fff; --tw-ring-color: rgba(59,130,246,0.5); --tw-ring-offset-shadow: 0 0 transparent; --tw-ring-shadow: 0 0 transparent; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\" class=\"\">Grande abraço,<br class=\"\"></span><span style=\"color: #000000; font-size: 14px; font-weight: inherit; line-height: inherit; text-decoration: none; --tw-shadow: 0 0 transparent; --tw-ring-inset: var(--tw-empty, ); --tw-ring-offset-width: 0px; --tw-ring-offset-color: #fff; --tw-ring-color: rgba(59,130,246,0.5); --tw-ring-offset-shadow: 0 0 transparent; --tw-ring-shadow: 0 0 transparent; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\" class=\"\"><span style=\"color: inherit; font-size: inherit; font-weight: bold; line-height: inherit; text-decoration: inherit; font-style: normal; --tw-shadow: 0 0 transparent; --tw-ring-inset: var(--tw-empty, ); --tw-ring-offset-width: 0px; --tw-ring-offset-color: #fff; --tw-ring-color: rgba(59,130,246,0.5); --tw-ring-offset-shadow: 0 0 transparent; --tw-ring-shadow: 0 0 transparent; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif;\" class=\"\"><br class=\"\">\nLorennzo Rodrigues</span><br style=\"\" class=\"\"><span style=\"color: #000000; font-size: 14px; font-weight: inherit; line-height: inherit; text-decoration: none; --tw-shadow: 0 0 transparent; --tw-ring-inset: var(--tw-empty, ); --tw-ring-offset-width: 0px; --tw-ring-offset-color: #fff; --tw-ring-color: rgba(59,130,246,0.5); --tw-ring-offset-shadow: 0 0 transparent; --tw-ring-shadow: 0 0 transparent; font-family: &quot;Open Sans&quot;, Roboto, &quot;San Francisco&quot;, Helvetica, Arial, sans-serif; font-style: italic;\" class=\"\">Especialista em Business Intelligence e IA</span></span></span>\n</div>\n</div>\n</div><!--[if (gte mso 12)&(lte mso 15) ]>\n<style data-ac-keep=\"true\" data-ac-inline=\"false\"> #text_div10660, #text_div10660 div { line-height: 140% !important; };\n</style>\n<![endif]--></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table></td>\n</tr>\n</table>\n</div>\n<br>\n<div id=\"ac-footer\" style=\"clear:both;background-color:inherit;background:inherit;min-width:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;padding:20px;color:#000000;font-size:11px;font-family:arial,helvetica,sans-serif;line-height:140%;line-height:1.4;text-align:center;box-sizing:border-box;\">\n<center>\nEnviado para:<span style=\"font-size:11px;font-family:arial,helvetica,sans-serif;font-weight:normal;text-decoration:none;outline:none;\">diegosousa977@gmail.com</span>\n<br>\n<br><a href=\"http://salesmelodata.activehosted.com/proc.php?c=2601&m=3076&s=46272334bf17d65015df27858ab67e34&d=711796&v=2&nl=236&act=unsub\" style=\"font-size:11px;font-family:arial,helvetica,sans-serif;font-weight:bold;text-decoration:underline;\"><span style=\"font-weight:bold;text-decoration:underline;\">Cancelar a inscrição</span></a>\n<br>\n<br>\nSales Melo, Av Nossa Senhora da Glória, 2975, Macaé - RJ, 27920-360, Brasil\n</center>\n</div>\n<br>\n<img src=\"https://salesmelodata.acemlnb.com/lt.php?x=41Zi05LJIXIKHhVpz_DHVuJu13BSvd~1wes0X5HIVaab6XR-0Ay5Veeg13CRxEMtzhptzK55IFCg6O83~E5HUuZ\" border=\"0\" width=\"1\" height=\"1\" style=\"display:block;width:1px!important;min-width:1px!important;max-width:1px!important;height:1px!important;border:0;overflow:hidden;\"/>\n</body>\n</html>",
          "text": "Garanta o seu certificado e ganhe prêmiosOlá, Diego Sousa Borges !\n\nNa próxima semana começa a nossa Imersão Inteligência Artificial na Prática, por isso vim aqui te lembrar de realizar o seu \n\n**check-in**.\n\nAo confirmar a sua participação agora, você garante:\n\n*  A emissão do seu \n\n**certificado** após as 4 aulas ao vivo;\n\n*  Acesso à dinâmica especial para \n\n**ganhar prêmios** antes mesmo do treinamento começar;\n\n*  Conteúdo \n\n**sob medida** para o seu desenvolvimento profissional.\n\nClique aqui para fazer o check-in da imersão https://i.sendflow.pro/l/pesquisa-imersao-ia \n\nComo funciona a dinâmica especial:\nCada amigo que se inscrever no treinamento através do seu convite vale 1 ponto. Quanto mais pontos, mais materiais exclusivos de Inteligência Artificial você desbloqueia.\n\nPara receber o link e conferir todos os detalhes da dinâmica, basta \n\n**confirmar o seu check-in** respondendo a uma \n\n**pesquisa** \n\n**super-rápida**.\n\nClique aqui econfirme sua vaga na imersão https://i.sendflow.pro/l/pesquisa-imersao-ia \n\nLembre-se: essa pesquisa é fundamental para prepararmos o melhor treinamento para você.\n\nNos vemos na primeira aula!\n\nGrande abraço,\n\nLorennzo Rodrigues\nEspecialista em Business Intelligence e IA\n_________________\n\nEnviado para: diegosousa977@gmail.com\n\nCancelar a inscrição:\nhttp://salesmelodata.activehosted.com/proc.php?c=2601&m=3076&s=46272334bf17d65015df27858ab67e34&d=711796&v=2&nl=236&act=unsub\n\nSales Melo, Av Nossa Senhora da Glória, 2975, Macaé - RJ, 27920-360, Brasil",
          "textAsHtml": "<p>Garanta o seu certificado e ganhe pr&ecirc;miosOl&aacute;, Diego Sousa Borges !</p><p>Na pr&oacute;xima semana come&ccedil;a a nossa Imers&atilde;o Intelig&ecirc;ncia Artificial na Pr&aacute;tica, por isso vim aqui te lembrar de realizar o seu</p><p>**check-in**.</p><p>Ao confirmar a sua participa&ccedil;&atilde;o agora, voc&ecirc; garante:</p><p>*  A emiss&atilde;o do seu</p><p>**certificado** ap&oacute;s as 4 aulas ao vivo;</p><p>*  Acesso &agrave; din&acirc;mica especial para</p><p>**ganhar pr&ecirc;mios** antes mesmo do treinamento come&ccedil;ar;</p><p>*  Conte&uacute;do</p><p>**sob medida** para o seu desenvolvimento profissional.</p><p>Clique aqui para fazer o check-in da imers&atilde;o <a href=\"https://i.sendflow.pro/l/pesquisa-imersao-ia\">https://i.sendflow.pro/l/pesquisa-imersao-ia</a></p><p>Como funciona a din&acirc;mica especial:<br/>Cada amigo que se inscrever no treinamento atrav&eacute;s do seu convite vale 1 ponto. Quanto mais pontos, mais materiais exclusivos de Intelig&ecirc;ncia Artificial voc&ecirc; desbloqueia.</p><p>Para receber o link e conferir todos os detalhes da din&acirc;mica, basta</p><p>**confirmar o seu check-in** respondendo a uma</p><p>**pesquisa**</p><p>**super-r&aacute;pida**.</p><p>Clique aqui econfirme sua vaga na imers&atilde;o <a href=\"https://i.sendflow.pro/l/pesquisa-imersao-ia\">https://i.sendflow.pro/l/pesquisa-imersao-ia</a></p><p>Lembre-se: essa pesquisa &eacute; fundamental para prepararmos o melhor treinamento para voc&ecirc;.</p><p>Nos vemos na primeira aula!</p><p>Grande abra&ccedil;o,</p><p>Lorennzo Rodrigues<br/>Especialista em Business Intelligence e IA<br/>_________________</p><p>Enviado para: <a href=\"mailto:diegosousa977@gmail.com\">diegosousa977@gmail.com</a></p><p>Cancelar a inscri&ccedil;&atilde;o:<br/><a href=\"http://salesmelodata.activehosted.com/proc.php?c=2601&m=3076&s=46272334bf17d65015df27858ab67e34&d=711796&v=2&nl=236&act=unsub\">http://salesmelodata.activehosted.com/proc.php?c=2601&m=3076&s=46272334bf17d65015df27858ab67e34&d=711796&v=2&nl=236&act=unsub</a></p><p>Sales Melo, Av Nossa Senhora da Gl&oacute;ria, 2975, Maca&eacute; - RJ, 27920-360, Brasil</p>",
          "subject": "[Check-in pendente] Imersão de IA na Prática",
          "date": "2025-09-05T13:45:46.000Z",
          "to": {
            "value": [
              {
                "address": "diegosousa977@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:diegosousa977@gmail.com\" class=\"mp_address_email\">diegosousa977@gmail.com</a></span>",
            "text": "diegosousa977@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "comunicacao@empowerdata.com.br",
                "name": "Lorennzo da Daxus"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Lorennzo da Daxus</span> &lt;<a href=\"mailto:comunicacao@empowerdata.com.br\" class=\"mp_address_email\">comunicacao@empowerdata.com.br</a>&gt;</span>",
            "text": "\"Lorennzo da Daxus\" <comunicacao@empowerdata.com.br>"
          },
          "messageId": "<2035476849.6870382.1757079946998@cell-3-bdb674f6f-h8b9s>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Classificador principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classificador principal",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Classificador de estudos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message3": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message2": {
      "main": [
        [
          {
            "node": "Mark a message as read2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Classificador de finanças",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message1": {
      "main": [
        [
          {
            "node": "Classificador de finanças",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Classificador de estudos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classificador principal": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificador de finanças": {
      "main": [
        [
          {
            "node": "Agent_to_finance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark a message as read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificador de estudos": {
      "main": [
        [
          {
            "node": "Agent_to_insert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark a message as read3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark a message as read4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent_to_insert",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Agent_to_insert",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent_to_insert": {
      "main": [
        [
          {
            "node": "Create an event1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark a message as read5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Agent_to_finance",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Agent_to_finance",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent_to_finance": {
      "main": [
        [
          {
            "node": "Create an event2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark a message as read6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 300,
    "errorWorkflow": "pg8ALIIg5c67G45X",
    "timeSavedPerExecution": 3
  },
  "versionId": "e33de890-b1cf-4d21-9763-ec5c2ecf96f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e850d0c6aabc26b2018bc6148b0e9c4bf40af3ef3090ce6809e83bfceb4b35c8"
  },
  "id": "zlCknoaUDC9BJWJf",
  "tags": []
}